.div0{
    display: grid;

    .div1{
        display: grid;

        .div2{
            display: grid;

            .div3{
                font-size: 18px;
                font-weight: bold;

            }
        }

        .div4{
            display: grid;
            align-items: center;
            grid-template-columns: 1fr auto;

            .div5{
                color: red;
                background-color: white;
                font-size: 24px;
                border-radius: 15px;
            }
        }

        .div6{
            display: grid;

            .div7{
                display: grid;
                align-items: center;
                grid-template-columns: auto 1fr;

                .div5{
                    color: red;
                    background-color: white;
                    font-size: 24px;
                    border-radius: 15px;
                }
            }
        }
    }
}