.background{
    display: grid;
    grid-template-rows: auto 1fr;

    .background1{
        display: grid;
        gap: 8px;
        grid-template-rows: auto auto 1fr;
    }
}

.log_item:active{
    filter:  brightness(0.7)
}
