.background{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    color: white;

    .settings_background{
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;

        .item{
            padding: 12px;
            background-color: #08365e;
            border-bottom: 1px solid #0c518d;
            display: grid;
            gap: 6px;
            cursor: pointer;
            grid-template-columns: auto 1fr auto;

            .item_logo{
               font-size: 16px;
               grid-row: 1 / 2;
            }

            .item_date{
               grid-column: 2 / 3;
            }

            .item_opacity{
                opacity: 0.7;
            }

            &:active{
                opacity: 0.8;
            }

        }
        
        .item:first-child{
            border-radius: 8px 8px 0 0;
        }

        .item:last-child{
            border-radius: 0 0 8px 8px;
            border: none;
        }

        .item:only-child {
            border-radius: 8px;
        }
    }

    .div1{
        display: grid;
        gap: 4px !important;

        .div2{
            text-transform: uppercase;
            padding-left: 8px;
        }

        .div3{
            cursor: pointer;

            *{
                display: grid;
                grid-template-columns: 1fr auto;

                .div5{
                    opacity: 0.7;
                }
            }
        }
    }
}
