.background{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    color: white;

    .settings_background{
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;

        .item{
            padding: 12px;
            background-color: #08365e;
            border-bottom: 1px solid #0c518d;
            display: grid;
            gap: 6px;
            grid-template-columns: auto 1fr auto;

            .item_logo{
               font-size: 16px;
               grid-row: 1 / 2;
            }

            .item_date{
               grid-column: 2 / 3;
            }

            .item_opacity{
                opacity: 0.7;
            }

        }
        
        .item:first-child{
            border-radius: 8px 8px 0 0;
        }

        .item:last-child{
            border-radius: 0 0 8px 8px;
            border: none;
        }

        .item:only-child {
            border-radius: 8px;
        }
    }
    .button_background{
        padding: 4px;

        .button{
            cursor: pointer;
            padding: 8px;
            border-radius: 8px;
            background-color: white;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;

            .button_text{
                display: grid;
                justify-content: center;
                align-items: center;
                color: black;
                grid-template-columns: auto auto;
                gap: 8px;

                .button_text_span{
                    opacity: 0.4;
                    font-weight: 600;
                }
            }
        }
    }
}
