.background{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, auto) 1fr;
    color: white;
    gap: 16px !important;
    overflow-x: auto;

    .div11{
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--color-5);
        padding: 8px;
        border-radius: 40px;
        cursor: pointer;

        &:active{
            opacity: 0.8;
        }

        .div12 {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            .div13 {
                    font-size: 20px;

            }
        }
    }

    .div1{
        display: grid;
        gap: 2px !important;

        .div2{
            text-transform: uppercase;
            font-size: 12px;
            padding-left: 8px;
        }

        .div20{
            &:active{
                opacity: 1 !important;
            }

            .div22{
                display: grid;

                .div23{
                    padding: 8px 0 8px 0;
                }

                .div23:not(:first-child){
                    border-top: 1px solid silver;
                }

                *{
                    &:active{
                        opacity: 0.8 !important;
                    }
                }
            }
        }


        .div3{
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr auto;

            .div4{
                display: grid;
                align-items: center;
            }

            .div5{
                display: grid;
                align-items: center;
                opacity: 0.7;

                .div6{
                    font-size: 18px;
                }
            }
        }
    }
}


.div01{
    display: grid;
    gap: 16px !important;

    .div011{
        &:active{
            opacity: 0.8 !important;
        }
    }

    .div1{
        display: grid;
        align-items: center;
        padding: 8px 0 8px 0;
        color: #ff4d4d;
        font-weight: 700;
        border-top: 1px solid silver;

        &:active{
            opacity: 0.8 !important;
        }
    }
}