.background{
    display: grid;

    .divn1{
        background: none;
        padding: 4px;
    }

    .div1{
        cursor: pointer;

        .div0{
            display: grid;
            gap: 16px !important;

            .div2{
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-items: center;
                transition: all .3s ease;

                &:active {
                    opacity: 0.8;
                }

                .div3{
                    padding: 4px;
                    border-radius: 8px;
                    display: grid;
                    align-items: center;
                    justify-items: center;

                    .div4{
                        font-size: 20px;
                    }
                }

                .div5{
                    opacity: 0.8;
                }

            }

        }
    }

    .div6{
        text-align: center;
        align-items: center;

        .div7{
            opacity: 0.8;
        }
    }
}

.nonClick{
    &:active{
        opacity: 1;
    }
}