.div0{
    display: grid;

    .div1{
        display: grid;
        cursor: pointer;
        grid-template-columns: 1fr auto;

        .div2{
            &:active {
                opacity: 0.8;
            }
        }

        .div22{
            background: var(--color-5);
        }
    }

    .div11{
        display: grid;
        align-items: center;
        justify-items: center;
        aspect-ratio: 1/1;

        .div12{
            font-size: 24px;
        }

        &:active {
            opacity: 0.8;
        }
    }
}